/* CSS específico del formulario de donación ------------------- */

.preview .content-cuenta {
    float: left;
    margin-left: 1000px;
    margin-top: -475px;
}

.preview .content-direccion {
  float: left;
  margin-right: 200px;
  margin-left: 500px;
  margin-top: -400px;
}

.webform-conditional-processed .cif .fila-1 .nombre {
    max-width: 580px;
    width: 540px;
}

.webform-conditional-processed .cif .fila-1 .number-dni {
    max-width: 270px;
}

.webform-conditional-processed .cif .email {
    width: 525px;
    max-width: 565px;
}

/* max-width: 1370px */
@media only screen and (max-width: 1370px) {

  .webform-conditional-processed .cif .fila-1 .nombre {
      width: 460px;
  }

  .webform-conditional-processed .cif .email {
      width: 445px;
  }

  .preview .content-cuenta {
      float: none;
      margin-left: 0px;
      margin-top: -0px;
  }

  .preview .content-direccion {
    float: left;
    margin-right: 200px;
    margin-left: 500px;
    margin-top: -465px;
  }

}

/* max-width: 986px */
@media only screen and (max-width: 986px) {

  .webform-conditional-processed .cif .fila-1 .nombre {
      width: 355px;
  }

  .webform-conditional-processed .cif .fila-1 .number-dni {
      max-width: 200px;
  }

  .webform-conditional-processed .cif .email {
      width: 388px;
      max-width: 388px;
  }

  .preview .content-direccion {
    float: none;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -0px;
  }

}

/* max-width: 769px */
@media only screen and (max-width: 769px) {

  .webform-conditional-processed .cif .fila-1 .number-dni {
      max-width: 58%;
  }

  .webform-conditional-processed .cif .fila-1 .nombre {
      width: 100%;
      max-width: 129%;
  }

  .webform-conditional-processed .cif .email {
      margin-top: 0px;
      width: 388px;
  }

  .webform-conditional-processed .content-colaborar .capa-other-quant {
      margin-top: 0px;
  }
}
