/************ CSS especifico campaña navidad ***************/

@font-face {
      font-family: 'ChronicleDisp-Black';
      src: url('../font/ChronicleDisp-Black') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'ChronicleDisp-Semibold';
      src: url('../font/ChronicleDisp-Black') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

/* Header */
.image-header__content--medium {
  padding-top: 30%;
}

/* Tipografías */
.webform-conditional-processed .content-end-form .politica,
.content-form .text-intro,
.box-form-es p,
.preview, .preview label {
  font-family: 'Maven Pro', sans-serif;
}

.content-form .webform-conditional-processed .input-generic,
.content-form .webform-conditional-processed .caja-content label,
.content-form .webform-conditional-processed .caja-content .capa-fechas div select,
.webform-conditional-processed .content-datos .info-nif,
.webform-conditional-processed .content-datos a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
}

.content-form h2 {
  /*font-family: 'Maven Pro', sans-serif;
  font-weight: bold;*/
  color: #111010;
}

/* 3 cajas */
.box-es-right .three-column p {
  font-family: 'Maven Pro', sans-serif;
  /*font-weight: bold;*/
  font-size: 16px;
}

/* Esconder iconos */
.box-form-es .caja-content h2 img {
  visibility: hidden;
}

/* COLORES */

.content-form .active {
  background-color: #cfa153;
}

.content-form .webform-conditional-processed .border-radius-form,
.content-form .webform-conditional-processed .input-generic,
.content-form .webform-conditional-processed .caja-content .capa-fechas div select {
	background-color: #eee;
}

.webform-conditional-processed .content-end-form .check {
	background: #f9ebc1;
}

/* Quitar border radius de los campos */
.content-form .webform-conditional-processed .border-radius-form,
.content-form .webform-conditional-processed .caja-content .capa-fechas div div
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  border-color: #bfbfbf;
  /*font-size: 19px;*/
}

.webform-conditional-processed .content-datos .document {
	border-radius: 0px 0 0 0px;
  border-color: #bfbfbf;
}

/* Boton enviar */
.form-submit, .webform-submit,
.form-actions input[type="submit"],
.preview .form-actions .form-submit {
  background-color: #cfa153;
  color: #111010;
  /*font-family: "ChronicleDisp-Black";*/
  font-family: "Times New Roman";
  font-weight: bold;
  font-style: italic;
}

.preview .form-actions .webform-previous {
  font-family: "Times New Roman";
	margin-left: 0%;
	max-width: 350px;
	background: #fff;
	border: 2px solid #000;
	font-size: 23px;
}

/* Imagen bola de navidad */
.bola-navidad {
	margin-top: -27.357rem;
	margin-left: 64.357rem;
	position: relative;
	float: left;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1370px) {

  .content-form .webform-conditional-processed .input-generic,
  .content-form .webform-conditional-processed .caja-content label,
  .content-form .webform-conditional-processed .caja-content .capa-fechas div select,
  .webform-conditional-processed .content-datos .info-nif,
  .webform-conditional-processed .content-datos a {
	   font-size: 16px;
  }

  .box-es-right .three-column {
  	min-height: 464px;
  }

  .bola-navidad {
	  margin-top: -28.357rem;
	  margin-left: 51.357rem;
	  position: relative;
	  float: left;
  }
}

@media only screen and (max-width: 986px) {
  .box-es-right .three-column {
  	min-height: 100%;
  }

  .bola-navidad {
    visibility: hidden;
    float: none;
  }
}

/* max-width: 769px */
@media only screen and (max-width: 769px) {

  /* colaborar */
  .webform-conditional-processed .caja-checkbox {
    margin-left: 0px;
  }

  .webform-conditional-processed .content-colaborar .cuotas div {
      float: none;
      margin: 0;
  }

  .webform-conditional-processed .content-colaborar .capa-other-quant {
      float: none;
      margin: auto;
  }

  .webform-conditional-processed .content-colaborar .cuotas {
      float: none;
      text-align: center;
      margin-top: 0;
  }

  .webform-conditional-processed .content-colaborar .capa-selecttime {
      width: 100%;
      float: none;
      margin-right: 0;
  }

  .webform-conditional-processed .content-colaborar select.selecttime {
      background-position: 79% center;
  }

  .webform-conditional-processed .content-colaborar .cuotas label {
      margin-right: 4px;
  }

  /* Header */
  .image-header__content--medium {
    padding-top: 50%;
  }
}
