/* CSS específico del formulario de socixs ------------------- */

    .content-form .text-intro {
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        font-size: 19px;
        color: #000000;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .box-form-es {
    	width: 75%;
    	float: left;
    }

    .box-form-es img {
        display: inline-block;
        top: 10px;
        position: relative;
        margin-left: 10px;
    }

    .box-form-es p {
        font-size: 15px;
        color: #000000;
        padding: 0px 20px;
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        text-align: justify;
        font-style: italic;
    }

    /* Gracias */
    .box-form-es .field p {
        font-size: 20px;
        color: #000000;
        padding: 0px 20px;
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        text-align: justify;
        font-style: normal;
    }

    .webform-conditional-processed .input-generic {
        width: 100%;
        max-width: 350px; /* H: ancho maximo de los campos */
    }

    .webform-conditional-processed .content-colaborar,
    .webform-conditional-processed .content-datos,
    .webform-conditional-processed .content-direccion,
    .webform-conditional-processed .content-cuenta {
        padding: 0px 20px 20px;
        margin: 0px;
    }

    .webform-conditional-processed .content-form .padding-medium{
        padding: 20px;
    }

    .webform-conditional-processed .content-form .margin-medium{
        margin: 20px 0 20px;
    }

    /* Esconder mensajes de info / estado */
    .status {
        visibility: hidden;
    }

    /* HEADERS ---------------------------------------------------------------*/
    .responsive--bg-b {
        background-position: center 35%;
        background-size: cover;
    }

    .responsive--bg-c {
        background-position: center 50%;
        background-size: cover;
    }

    .responsive--bg-d {
        background-position: center 36%;
        background-size: cover;
    }

    .responsive--bg-don {
        background-position: center 33%;
        background-size: cover;
    }

    .responsive--bg-nav {
        background-position: center 30%;
        background-size: cover;
    }


    /* content-colaborar  ----------------------------------------------------- */

    .webform-conditional-processed .content-colaborar form .cuota-options-wrapper-general{
    	  width: 70%;
    	  margin: 20px 0 20px 0;
        padding: 0;
        clear: both;
        overflow: visible;
        height: 51px;
        position: relative;
    }

    .webform-conditional-processed .content-colaborar .fila-1 {
        margin-top: 20px;
    }

    .webform-conditional-processed .content-colaborar {
        padding: 0px 20px 20px; /*20*/
    }

    .webform-conditional-processed .content-colaborar .capa-selecttime {
        width: 300px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 20px;
    }

    .webform-conditional-processed .content-colaborar .selecttime {
        width: 120%;
        border:0;
    }

    .webform-conditional-processed .content-colaborar select.selecttime {
        background-position: 260px center;
    }

    .webform-conditional-processed .content-colaborar .cuotas {
        float: left;
    }

    .webform-conditional-processed .content-colaborar .capa-other-quant {
        width: 70px;
        overflow: hidden;
        float: left;
        height: 50px;
        margin-right: 10px;
        line-height: 50px;
        margin-left: 20px;
    }

    .webform-conditional-processed .content-colaborar .other-quant {
        border: 2px solid #000;
        width: 100%;
    }

    /* content-datos ----------------------------------------------------- */

    .webform-conditional-processed .content-datos .fila-1,
    .webform-conditional-processed .content-datos .fila-2,
    .webform-conditional-processed .content-datos .fila-3{
        margin-top: 20px;
    }

    .webform-conditional-processed .content-datos .info-nif {
         margin-left: -32px;
    }

    .webform-conditional-processed .content-datos .fila-1 input,
    .webform-conditional-processed .content-datos .fila-3 input {
        max-width: 210px;
    }

    .webform-conditional-processed .content-datos a{
    	  font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    	  float: left;
        font-size: 18px;
        color: #000;
        height: 44px;
        line-height: 50px;
        /*margin-right: 10px;*/
    }

    .webform-conditional-processed .content-datos .capa-fechas label{
        margin-left: 70px;
    }

    .webform-conditional-processed .content-datos .capa-document{
        max-width: 135px;
        width: 130px;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        float: left;
        height: 50px;
    }

    .webform-conditional-processed .content-datos .document{
    	  width: 125%;
        z-index: 9;
        border-radius: 10px 0 0 10px;
    }

    .webform-conditional-processed .content-datos select.document {
        background-position: 100px center;
    }

    .webform-conditional-processed .content-datos .fila-1 .number-dni{
      max-width: 151px;
    }

    .webform-conditional-processed .content-datos .fila-1 .nombre{
       max-width: 605px;
       width: 210px;
    }

    .webform-conditional-processed .content-datos .email{
       max-width: 350px;
    }

    .webform-conditional-processed .content-datos .mobile{
    	max-width: 225px;
    }

    .webform-conditional-processed .content-datos .number-dni{
        left: -30px;
    	  margin-right: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding-left: 40px;
    }

    .webform-conditional-processed .content-datos .capa-genero{
        width: 155px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-datos .genero{
    	  width: 120%;
        border: 0;
    }

    .webform-conditional-processed .content-datos select.genero {
        background-position: 120px center;
    }

    .webform-conditional-processed .content-datos .capa-language{
        width: 150px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-datos .language {
    	  width: 112%;
        border:0;
    }

    .webform-conditional-processed .content-datos select.language {
        background-position: 120px center;
    }


    .webform-conditional-processed .content-datos .fila-3 label {
        float: left;
    }

    .webform-conditional-processed .content-datos .capa-profesion {
        width: 430px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-datos select.profesion {
      background-position: 400px center;
      max-width: 500px;
    }

    .webform-conditional-processed .content-datos .profesion {
        width: 120%;
        border:0;
    }

    /* content-direccion ----------------------------------------------------- */

    .webform-conditional-processed .content-direccion .fila-1 {
        margin-top: 20px;
    }

    .webform-conditional-processed .content-direccion .capa-tipo-via{
        width: 170px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-direccion .tipo-via{
        width: 115%;
        border:0;
    }

    .webform-conditional-processed .content-direccion select.tipo-via {
        background-position: 135px center;
    }

    .webform-conditional-processed .content-direccion .nombre-via{
        max-width: 405px;
    }

    .webform-conditional-processed .content-direccion .numero-bloque{
        max-width: 215px;
    }

    .webform-conditional-processed .content-direccion .postal{
        max-width: 92px;
    }

    .webform-conditional-processed .content-direccion .poblacion{
        max-width: 330px;
    }

    .webform-conditional-processed .content-direccion .capa-provincia,
    .webform-conditional-processed .content-direccion .capa-pais{
        width: 281px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-direccion .provincia,
    .webform-conditional-processed .content-direccion .pais{
        width: 120%;
        border:0;
    }

    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais {
        background-position: 245px center;
        max-width: 290px;
    }

    /* content-cuenta ----------------------------------------------------- */

    .webform-conditional-processed .content-cuenta .fila-1 {
        margin-top: 20px;
    }

    .webform-conditional-processed .content-cuenta label.iban{
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        float: left;
        font-size: 20px;
        color: #000;
        height: 44px;
        line-height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-cuenta .capa-iban-letras{
        width: 95px;
        overflow: hidden;
        float: left;
        border: 2px solid #000;
        height: 50px;
        margin-right: 10px;
    }

    .webform-conditional-processed .content-cuenta  .iban-letras {
        width: 125%;
        border: 0;
    }

    .webform-conditional-processed .content-cuenta select.iban-letras {
        background-position: 50px center;
    }

    .webform-conditional-processed .content-cuenta .iban-numero{
        max-width: 55px;
    }

    .webform-conditional-processed .content-cuenta .entidad{
        max-width: 140px;
    }

    .webform-conditional-processed .content-cuenta .oficina{
        max-width: 150px;
    }

    .webform-conditional-processed .content-cuenta .dc{
        max-width: 100px;
    }

    .webform-conditional-processed .content-cuenta .ncuenta{
        max-width: 322px;
    }

    /* content-end-form ----------------------------------------------------- */

     .webform-conditional-processed .content-end-form input[type=checkbox] {
        visibility: hidden;
        height: 28px;
        width: 28px;
    }

     .webform-conditional-processed .content-end-form .check {
        width: 28px;
        height: 28px;
        background: yellow;
        position: relative;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
    }

     .webform-conditional-processed .content-end-form .check-politica label {
        color: #fff;
    }

     .webform-conditional-processed .content-end-form .check label:after {
        opacity: 0;
        content: '\2713';
        font-size: 20px;
        color: #000;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 2px;
        left: 3px;
    }

     .webform-conditional-processed .content-end-form .check input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

     .webform-conditional-processed .content-end-form {
        padding: 0px;
        margin: 0px 0px 50px 0px;
    }

    /* politica de privacidad */
     .webform-conditional-processed .content-end-form .politica{
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        line-height: 28px;
        color: #000;
    }

     .webform-conditional-processed .content-end-form .politica a{
        font-weight: bold;
        color: #000;
    }

     .webform-conditional-processed input.button-primary {
        -webkit-appearance: none;
    }

    /* boton enviar y siguiente */
    .box-form-es .button-primary,
    .box-form-es .webform-next {
        /** IMPORTANT == COMMENT PARA APLICAR GRID DE BOOTSTRAP == FELIPEGILESTUDIO **/
        float: left;
        margin-top: -130px;
        margin-left: 70%;
        clear: both;
    }

    /* boton previo */
    .box-form-es .webform-previous {
        float: left;
        clear: both;
        margin-top: -130px;
        margin-left: 21%;
        width: 315px;
    }

    /* 2 pasos*/
    .box-form-es .webform-next-dos-pasos {
        margin-top: 20px;
    }
    .box-form-es .webform-previous-dos-pasos-2 {
        margin-left: 2%;
        max-width: 350px;
        background: #fff;
        border: 2px solid #000;
        font-size: 38px;
        margin-top: -35px;
    }
    .box-form-es .webform-previous-dos-pasos-2:hover{
        background: -moz-linear-gradient( center top, #ddd 5%, #eee 100% );
    }
    .box-form-es .webform-next-dos-pasos-2 {
        margin-top: -100px;
    }

    /* Comodo Secure */
     .webform-conditional-processed .secure-img {
        float: none;
        margin: 0px;
        top: 0px;
    }

/* Box Right ----------------------------------------------------- */

    .box-es-right{
    	width: 25%;
    	float: left;
    }

    .box-es-right .three-column{
        max-width: 340px;
        width: 100%;
        min-height: 295px;
        padding: 15px;
        background: #e3e3e3;
        float: right;
        margin-bottom: 30px;
    }

    .box-es-right .three-column img{
        max-width: 80px;
        width: 100%;
        display: block;
        margin: auto auto 20px;
    }

    .box-es-right .three-column h3{
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #000;
    }

    .box-es-right .three-column p{
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
        color: #000;
        padding: 0px;
    }

    .box-es-right .formas-pago a {
        color:#000;
        font-weight: bold;
    }

/** Popups **/
.cboxIframe {
    height: 100%;
    width: 100%;
}


/************************* Preview page *******************************/

.preview {
    margin: 0px 20px;
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    font-size: 20px;
}

.preview .caja-content {
    border: 0px;
}

.preview label {
    font-weight: normal;
}

.preview h2{
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    font-size: 35px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 40px;
    font-weight: normal;
}

.preview fieldset {
    border: 0px;
    padding: 0px;
    margin: 5px 0%;
    background: #fff;
}

.preview label {
    font-weight: bold;
}

.preview .warning {
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: none;
    padding: 5px;
    font-size: 40px;
    background-color: #eee;
    border: 1px solid #333;
}

.preview .warning p {
    font-style: inherit;
    font-size: 18px;
    text-decoration: none;
}

.preview .form-actions .form-submit {
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    /*width: 100%;*/
    height: 70px;
    font-size: 30px;
    text-align: center;
    float: left;
    clear: both;
    background: #f1e60d;
}

.preview .form-actions .webform-previous {
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
    margin-left: 0%;
    max-width: 350px;
    background: #fff;
    border: 2px solid #000;
    font-size: 23px;
}

.preview .form-actions .webform-previous:hover{
    background: -moz-linear-gradient( center top, #ddd 5%, #eee 100% );
}

.preview .webform-submit {
    margin-left: 78%;
    max-width: 300px;
}

.preview .content-direccion {
    float: left;
    margin-right: 200px;
    margin-left: 500px;
    margin-top: -520px;
}

.preview .content-cuenta {
    float: left;
    margin-left: 1000px;
    margin-top: -570px;
}

/* boton enviar */

.box-form-es .preview .form-actions {
    margin: 150px 0px 0px 0px;
}

.content-end-form .preview .botons-form{
    margin-top: 0px;
}

.box-form-es .preview span {
    font-size: 20px;
}


/***** Página de gracias --------------- *******/

#share-buttons, .field-name-body {
    margin: 0px 30px;
}

#share-buttons {
    border-top: 0px;
}

#share-buttons .ai-accion-firma-compartir__facebook,
#share-buttons .ai-accion-firma-compartir__twitter {
    width: 45%;
    margin: 0px;
    font-size: 20px;
}

#share-buttons .ai-accion-firma-compartir__facebook{
    margin-right: 5%;
}

#share-buttons .ai-accion-firma-compartir__twitter {
    margin-left: 5%;
}

#share-buttons a:hover, #share-buttons a:visited, #share-buttons a:active {
    text-decoration: none;
    color: #fff;
}

#share-buttons .ai-accion-firma-compartir__header {
    font-size: 20px;
    padding-bottom: 0px;
    color: #333;
    margin-bottom: 10px;
}

.field-name-body {
    text-align: justify;
}

.field-name-body p{
    margin: 20px 0px;
}

/****************************** Responsive *******************************/

/* max-width: 1400px */
@media only screen and (max-width: 1370px) {

    .content-form{
        max-width: 985px; /*960*/
    }

    .box-form-es {
        width: 100%;
        float: none;
    }

    /* content cuota */

    /* content-datos */

    .webform-conditional-processed .content-datos .fila-1 input,
    .webform-conditional-processed .content-datos .fila-3 input {
        max-width: 185px;
    }

    .webform-conditional-processed .content-datos .fila-1 .nombre{
      max-width: 185px;
    }

    .webform-conditional-processed .content-datos .email {
        max-width: 275px;
    }

    .webform-conditional-processed .content-datos .capa-profesion {
        width: 361px;
    }

    .webform-conditional-processed .content-datos select.profesion {
        background-position: 331px center;
        max-width: 371px;
    }

    .content-form .webform-conditional-processed .caja-content .capa-fechas div div{
        width: 97px;
    }

    /* content-direccion */

    .webform-conditional-processed .content-direccion .numero-bloque {
        max-width: 200px;
    }

    .webform-conditional-processed .content-direccion .nombre-via {
        max-width: 340px;
    }

    .preview .content-direccion {
        float: left;
        margin-right: 200px;
        margin-left: 500px;
        margin-top: -520px;
    }

    .webform-conditional-processed .content-direccion .capa-provincia,
    .webform-conditional-processed .content-direccion .capa-pais {
        width: 240px;
    }

    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais {
        background-position: 210px center;
    }

    /* cuenta */

    .webform-conditional-processed .content-cuenta .ncuenta {
        max-width: 310px;
    }

    .webform-conditional-processed .content-cuenta .dc {
        max-width: 65px;
    }

    .webform-conditional-processed .content-cuenta .entidad,
    .webform-conditional-processed .content-cuenta .oficina {
        max-width: 125px;
    }

    /* submit */

    .box-form-es .webform-conditional-processed .button-primary{
        float: left;
        margin-top: -130px;
        margin-left: 67%;
        margin-bottom: 40px;
    }

    .preview .webform-submit {
        margin-left: 69%;
        max-width: 300px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos {
	      float: left;
	      margin-top: 20px;
	      margin-left: 68%;
	      margin-bottom: 20px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos-2 {
        margin-top: -100px;
        margin-bottom: 20px;
    }

    /* 3 cajas laterales */

    /** CUSTOMS == FELIPEGILESTUDIO - 15/SEPTEMBER 2016 **/
    /** CORRIGIENDO PROBLEMA GRAVE QUE TAPABA EL FORM ENTERO EN EL IPAD, 1 Y 2 - VER 3 Y 4 - PORTAIT - COLUMNA DCHA Y BLOQUE EXTENDIDO **/	 /* IMPORTANTE */
	  .box-es-right {
		    width: 100%;
		    float: left;
        padding-right: 0px;
        /* TENÍA ====
        .box-es-right {
				    width: 100%;
						float: none;
    		} */
	  }
	  /** end CUSTOMS == FELIPEGILESTUDIO - 15/SEPTEMBER 2016 **/

    .box-es-right .three-column {
        max-width: 309px;
        min-height: 451px;
        float: left;
        margin-left: 20px;
    }

    .box-es-right .three-column:first-child {
        margin-left: 0;
    }

    /* pagina confirmacion */

    .preview .content-cuenta {
      float: none;
      margin-left: 0px;
      margin-top: -0px;
    }
}

/* max-width: 986px */
@media only screen and (max-width: 986px) {

    .content-form{
        max-width:768px;
    }

    .box-form-es span{
        font-size: 37px;
        line-height: 37px;
    }

    /* cuota */

    .webform-conditional-processed .content-colaborar .capa-other-quant {
        margin-left: -16px;
    }

    .webform-conditional-processed .content-colaborar .capa-selecttime {
        width: 275px;
    }

    .webform-conditional-processed .content-colaborar select.selecttime {
        background-position: 240px center;
    }

    /* datos */

    .webform-conditional-processed .content-datos .fila-1,
    .webform-conditional-processed .content-datos .fila-2,
    .webform-conditional-processed .content-datos .fila-3 {
        margin-top: 20px;
    }

    .content-form .webform-conditional-processed .caja-content label {
        font-size: 17px;
    }

    .webform-conditional-processed .content-datos .fila-1 input{
        max-width: 133px;
    }

    .webform-conditional-processed .content-datos .fila-1 .nombre {
        width: 133px;
    }

    .webform-conditional-processed .content-datos .fila-1 .segundo-apellido {
        max-width: 135px;
    }

    .webform-conditional-processed .content-datos .capa-document {
        width: 100%;
    }

    .webform-conditional-processed .content-datos select.genero {
        float: left;
    }

    .webform-conditional-processed .content-datos .info-nif {
        margin-top: 15px;
        font-size: 17px;
    }

    .webform-conditional-processed .content-datos a {
        font-size: 17px;
    }

    .webform-conditional-processed .content-datos .capa-document {
        max-width: 130px;
    }

    .webform-conditional-processed .content-datos select.document {
        background-position: 106px center;
    }

    .webform-conditional-processed .content-datos .fila-1 .number-dni {
        max-width: 133px;
    }

    .webform-conditional-processed .content-datos .email {
        width: 235px;
    }

    .webform-conditional-processed .content-datos .mobile {
        max-width: 110px;
    }

    .webform-conditional-processed .content-datos .capa-profesion {
        width: 320px;
    }

    .webform-conditional-processed .content-datos select.profesion {
        background-position: 286px center;
        max-width: 330px;
    }

    /*.webform-conditional-processed .content-datos .profesion option:checked {
        max-width: 245px;
    }*/

    .webform-conditional-processed .content-datos .capa-genero,
    .webform-conditional-processed .content-datos .capa-language {
        width: 143px;
    }

    .webform-conditional-processed .content-datos .language {
        width: 112%;
    }

    .webform-conditional-processed .content-datos select.genero,
    .webform-conditional-processed .content-datos select.language {
        background-position: 110px center;
    }

    .webform-conditional-processed .content-datos .capa-fechas label {
        margin-left: 0px;
    }

    /* direccion */

    .webform-conditional-processed .content-direccion .capa-tipo-via,
    .webform-conditional-processed .content-direccion .numero-bloque,
    .webform-conditional-processed .content-direccion .postal {
        width: 25%;
    }

    .webform-conditional-processed .content-direccion .poblacion{
        width: 33%;
    }

    .webform-conditional-processed .content-direccion .nombre-via,
    .webform-conditional-processed .content-direccion .capa-provincia,
    .webform-conditional-processed .content-direccion .capa-pais {
        width: 31%;
    }

    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais,
    .webform-conditional-processed .content-direccion select.tipo-via {
        background-position: 78% center;
    }

    /* cuenta */

    .webform-conditional-processed .content-cuenta .input-generic {
        width: 15.5%;
        max-width: 100%;
    }

    .webform-conditional-processed .content-cuenta select.iban-letras {
        background-position: 60px center;
    }

    .webform-conditional-processed .content-cuenta .countryid {
        max-width: 120%;
        width: 112%;
    }

    .webform-conditional-processed .content-cuenta .entidad,
    .webform-conditional-processed .content-cuenta .oficina {
        width: 15%;
    }

    .webform-conditional-processed .content-cuenta .iban-numero,
    .webform-conditional-processed .content-cuenta .dc {
        width: 10%;
    }

    .webform-conditional-processed .content-cuenta .ncuenta {
        width: 28%;
    }

    /* 3 columnas */

    .box-es-right .three-column {
        max-width: 242px;
        min-height: 418px;
    }

    .box-es-right .three-column {
        max-width: 100%;
        min-height: 100%;
        margin: 20px auto auto;
        float: none;
    }

    .box-es-right .three-column:first-child {
        margin-left: auto;
    }

    /* botones */

    .box-form-es .webform-conditional-processed .button-primary{
        float: left;
        margin-top: -130px;
        margin-left: 59%;
        margin-bottom: 0px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos {
    	float: left;
    	margin-top: 20px;
    	margin-left: 59%;
    	margin-bottom: 0px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos-2 {
      margin-top: -100px;
    }

    /* página de confirmacion */

    .preview .webform-submit {
        margin-left: 61%;
        max-width: 300px;
    }

    .preview .content-direccion {
        float: none;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -0px;
    }

    .preview .content-cuenta {
        float: none;
        margin-left: 0px;
        margin-top: -0px;
    }
}

/* max-width: 769px */
@media only screen and (max-width: 769px) {

    .content-form {
        max-width:630px;
    }

    .content-form h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .webform-conditional-processed .input-generic{
      float: none;
      width: 100%;
      max-width: 120%;
    }

    /* colaborar */

    .webform-conditional-processed .content-colaborar .fila-1 .input-generic,
    .webform-conditional-processed .content-colaborar .fila-2 .input-generic,
    .webform-conditional-processed .content-colaborar .fila-3 .input-generic {
        max-width: 129%;
    }

    .webform-conditional-processed .content-colaborar .capa-selecttime {
        width: 100%;
    }

    .webform-conditional-processed .content-colaborar select.selecttime {
        background-position: 81% center;
    }

    .webform-conditional-processed .caja-checkbox {
        margin-left: 35px;
    }

    .webform-conditional-processed .content-colaborar .capa-other-quant {
        margin-left: -20px;
    }

    .webform-conditional-processed .content-colaborar .capa-other-quant {
        margin-top: 20px;
    }

    /* content-datos */

    .webform-conditional-processed .content-datos .fila-1 .input-generic,
    .webform-conditional-processed .content-datos .fila-2 .input-generic,
    .webform-conditional-processed .content-datos .fila-3 .input-generic {
        max-width: 129%;
    }

    .webform-conditional-processed .content-datos .fila-1 .nombre,
    .webform-conditional-processed .content-datos .capa-profesion,
    .webform-conditional-processed .content-datos .email,
    .webform-conditional-processed .content-datos .mobile,
    .webform-conditional-processed .content-datos .capa-genero,
    .webform-conditional-processed .content-datos .capa-fechas {
        width: 100%;
    }

    .webform-conditional-processed .content-datos .primer-apellido,
    .webform-conditional-processed .content-datos .segundo-apellido,
    .webform-conditional-processed .content-datos .email,
    .webform-conditional-processed .content-datos .capa-document,
    .webform-conditional-processed .content-datos .fila-1 .number-dni,
    .webform-conditional-processed .content-datos .mobile,
    .webform-conditional-processed .content-datos .capa-language,
    .webform-conditional-processed .content-datos .info-language,
    .content-form .webform-conditional-processed .caja-content .capa-fechas div div,
    .content-form .webform-conditional-processed .caja-content .capa-fechas label {
        margin-top: 20px;
    }

    .webform-conditional-processed .content-datos .capa-document {
        width: 33%;
        max-width: 40%;
    }

    .webform-conditional-processed .content-datos select.document {
        background-position: 75% center;
    }

    .webform-conditional-processed .content-datos .fila-1 .number-dni{
        max-width: 58%;
    }

    .webform-conditional-processed .content-datos select.profesion,
    .webform-conditional-processed .content-datos select.genero {
        background-position: 77% center;
    }

    .webform-conditional-processed .content-datos .capa-language {
        width: 84%;
    }

    .webform-conditional-processed .content-datos select.language {
        background-position: 84% center;
    }

    /* direccion */

    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais {
      max-width: 102%;
    }

    .webform-conditional-processed .content-direccion .capa-tipo-via,
    .webform-conditional-processed .content-direccion .nombre-via,
    .webform-conditional-processed .content-direccion .numero-bloque,
    .webform-conditional-processed .content-direccion .poblacion,
    .webform-conditional-processed .content-direccion .postal,
    .webform-conditional-processed .content-direccion .capa-provincia,
    .webform-conditional-processed .content-direccion .capa-pais {
      width: 100%;
      max-width: 100%;
    }

    .webform-conditional-processed .content-direccion .nombre-via,
    .webform-conditional-processed .content-direccion .numero-bloque,
    .webform-conditional-processed .content-direccion .postal,
    .webform-conditional-processed .content-direccion .capa-provincia,
    .webform-conditional-processed .content-direccion .capa-pais {
      margin-top: 20px;
    }

    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais{
        background-position: 94% center;
    }
    .webform-conditional-processed .content-direccion select.tipo-via {
      background-position: 84% center;
    }

    /* cuenta */

    .webform-conditional-processed .content-cuenta .capa-iban-letras{
      max-width: 20%;
      width: 19%;
    }

    .webform-conditional-processed .content-cuenta select.iban-letras {
      background-position: 52px center;
    }

    .webform-conditional-processed .content-cuenta .entidad,
    .webform-conditional-processed .content-cuenta .oficina {
        max-width: 25%;
        width: 22.5%;
    }

    .webform-conditional-processed .content-cuenta .iban-numero,
    .webform-conditional-processed .content-cuenta .dc {
        max-width: 15%;
        width: 12%;
    }

    .webform-conditional-processed .content-cuenta .ncuenta {
        max-width:100%;
        width: 100%;
        margin-top: 20px;
    }

    /* cajas laterales */

    .box-es-right .three-column {
        max-width: 100%;
        min-height: auto;
        margin-left: 0;
        float: none;
    }

    /* botones */

    .box-form-es .webform-conditional-processed  .button-primary{
        float: left;
        margin-top: -150px;
        margin-left: 50%;
        margin-bottom: 40px;
    }

    .box-form-es .webform-conditional-processed  .webform-next-dos-pasos{
        float: left;
        margin-top: -10px;
        margin-left: 50%;
        margin-bottom: 0px;
    }

    .box-form-es .webform-conditional-processed  .webform-previous-dos-pasos-2 {
        width: 200px;
        margin-left: 5%;
        float: none;
        clear: none;
        font-size: 37px;
    }

    .box-form-es .webform-conditional-processed  .webform-next-dos-pasos-2 {
        /*float: left;
        margin-bottom: 0px;*/
        margin-left: 60%;
        margin-top: -100px;
        width: 200px;
    }

    .webform-conditional-processed .content-end-form .botons-form img {
        /*float: left;*/
        /*margin: 0px auto auto;*/
        display: block;
        top: 0px;
    }

    .webform-conditional-processed .content-end-form {
        padding: 0px;
        margin: 0px 0px 50px 0px;
    }

    .box-form-es .webform-conditional-processed .form-actions {
        margin: 30px 0px 0px 0px;
    }

    /* pagina confirmacion */

    .preview .form-actions .form-submit {
        margin-left: 0;
        float: none;
        clear: none;
        margin-top: 10px;
    }

    .box-form-es .preview .form-actions {
        margin: 0px;
    }

    .preview .webform-previous {
        margin-left: 0%;
        max-width: 320px;
    }

    .preview .content-direccion {
        float: none;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -0px;
    }

    .preview .content-cuenta {
        float: none;
        margin-left: 0px;
        margin-top: -0px;
    }
}

/* max-width: 480px */
@media only screen and (max-width: 480px) {

    .content-form {
        max-width: 320px;
    }

    .content-form h2 {
        font-size: 30px;
        padding-bottom: 10px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .box-form-es img {
        display: none;
    }

    .webform-conditional-processed .content-colaborar .fila-1,
    .webform-conditional-processed .content-datos .fila-1,
    .webform-conditional-processed .content-direccion .fila-1,
    .webform-conditional-processed .content-cuenta .fila-1 {
      margin-top: 0px;
    }

    .box-form-es span {
        font-size: 24px;
    }

    .box-form-es span img {
        display: block;
    }

    .content-form .webform-conditional-processed .caja-checkbox div {
        /*margin-top: 10px;*/
        text-align: center;
        margin-bottom: 10px;
        float: none;
    }

    /** CUSTOMS - CAMBIANDO ASPECTO ICONO == FELIPEGILESTUDIO - 20/SEPTEMBER 2016 **/
    /*span.image-icon-titles img {
      margin: 0 auto;
      top: 0px;
      position: relative;
    }*/

    /* colaborar */
    .webform-conditional-processed .caja-checkbox {
      margin-left: 0px;
    }

    .webform-conditional-processed .content-colaborar .cuotas div {
        float: none;
        margin: 0;
    }

    .webform-conditional-processed .content-colaborar .capa-other-quant {
        float: none;
        margin: auto;
    }

    .webform-conditional-processed .content-colaborar .cuotas {
        float: none;
        text-align: center;
        margin-top: 0;
    }

    .webform-conditional-processed .content-colaborar .capa-selecttime {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .webform-conditional-processed .content-colaborar select.selecttime {
        background-position: 79% center;
    }

    .webform-conditional-processed .content-colaborar .cuotas label {
        margin-right: 4px;
        float: none;
    }

    /* content datos */

    .webform-conditional-processed .content-datos .fila-1 .number-dni {
      max-width: 52%;
    }

    .webform-conditional-processed .content-datos .capa-language {
        width: 72%;
    }

    .content-form .webform-conditional-processed .caja-content .capa-fechas label {
        clear: none;
        float: none;
        margin-top: 10px;
        margin-bottom: -50px;
    }

    /* fechas */

    .webform-conditional-processed .content-datos .capa-fechas {
        width: 100%;
    }

    .content-form .webform-conditional-processed .caja-content .capa-fechas div div {
        margin-top: 10px;
        width: 31%;
    }

    .content-form .webform-conditional-processed .caja-content .capa-fechas div select {
        background-position: 62% center;
    }

    /* direccion */
    .webform-conditional-processed .content-direccion select.tipo-via,
    .webform-conditional-processed .content-direccion select.provincia,
    .webform-conditional-processed .content-direccion select.pais {
        background-position: 91% center;
        max-width: 105%;

    }

    /* cuenta */

    .webform-conditional-processed .content-cuenta select.iban-letras {
        background-position: 90px center;
    }

    .webform-conditional-processed .content-cuenta .capa-iban-letras,
    .webform-conditional-processed .content-cuenta .iban-numero{
        width: 45.5%;
        max-width: 50%;
    }

    .webform-conditional-processed .content-cuenta .entidad,
    .webform-conditional-processed .content-cuenta .oficina{
        width: 33%;
        max-width: 50%;
        margin-top: 20px;
    }

    .webform-conditional-processed .content-cuenta .dc {
        width: 20%;
        max-width: 30%;
        margin-top: 20px;
    }

    .webform-conditional-processed .content-cuenta .ncuenta {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    /* botones y politica */
    .webform-conditional-processed .content-end-form .politica {
        float: left;
        width: 200px;
    }

    .webform-conditional-processed .content-end-form .botons-form img {
        float: none;
        margin: 0px auto auto;
        clear: both;
        top: 0px;
    }

    .box-form-es .webform-conditional-processed .button-primary {
        float: none;
        margin: 0px;
        margin-top: -30px;
        margin-left: 10px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos {
        float: none;
        margin: 0px;
        margin-top: -10px;
        margin-left: 3px;
        width: 100%;
    }
    .box-form-es .webform-conditional-processed .webform-previous-dos-pasos-2 {
      width: 98%;
      margin-left: 10px;
    }

    .box-form-es .webform-conditional-processed .webform-next-dos-pasos-2 {
    	margin-top: 10px;
      width: 100%;
    }

    /* Header */

    .image-header__content--medium {
	     /*padding-top: 100.5%;*/
    }

    .image-header__content--medium{
        margin-top: 72px;
    }

    /* pagina confirmacion */
    .preview .form-submit {
        font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
        height: 70px;
        font-size: 30px;
        text-align: center;
        background: #f1e60d;
    }

    .preview .webform-previous {
        margin-top: 20px;
        margin-left: 0%;
        max-width: 350px;
        background: #fff;
        border: 2px solid #000;
        font-size: 20px;
    }

    .preview .webform-submit {
        margin-top: 20px;
        margin-left: 0%;
        max-width: 350px;
    }

    .box-form-es .preview .form-actions {
        margin: 0px;
    }

    .content-end-form .preview .botons-form{
        margin-top: 0px;
    }

    .preview .content-direccion {
        float: none;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -0px;
    }

    .preview .content-cuenta {
        float: none;
        margin-left: 0px;
        margin-top: -0px;
    }
}

/* max-width: 275px - móviles antiguos */
@media only screen and (max-width: 275px) {

  .box-form-es .fila-1 p {
    font-size: 0px;
  }

  .webform-conditional-processed .content-datos .info-nif,
  .webform-conditional-processed .content-datos .info-language {
      visibility: hidden;
      margin: 0px;
      margin-top: -10px;
      float: none;
      line-height: 0;
      font-size: 0px;
  }

  .webform-conditional-processed .content-datos .capa-document {
      width: 100%;
      max-width: 100%;
      border-radius: 10px;
      overflow: hidden;
      border: 2px solid #000;
  }

  .webform-conditional-processed .content-datos select.document {
      background-position: 75% center;
      border: 0;
  }

  .webform-conditional-processed .content-datos .fila-1 .number-dni {
      max-width: 100%;
      width: 100%;
      border-radius: 10px;
      float: none;
      padding-left: 10px;
      left: 0;
      margin: 0;
      margin-top: 20px;
  }

  .webform-conditional-processed .content-datos .capa-language {
      width: 100%;
  }

  .webform-conditional-processed .content-cuenta select.iban-letras {
      background-position: 60px center;
  }

  .webform-conditional-processed .content-datos .capa-fechas {
      float: none;
      width: 100%;
  }

  .content-form .webform-conditional-processed .caja-content .capa-fechas div div {
      float: none;
      margin-top: 10px;
      width: 100%;
  }

  .content-form .webform-conditional-processed .caja-content .capa-fechas div select {
      float: none;
      background-position: 70% center;
  }

}
