/*--------------------------------------------------------------- */
/* ------------- Diseño general para formularios ---------------- */
/* -------------------------------------------------------------- */


/* Estructura general --------------- */

span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header,
hgroup, menu, nav, section, time, mark, audio, video {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent;
}

.content-form article, aside, figure, footer,
header, hgroup, nav, section {
    display : block;
}

.content-form{
    max-width:1442px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.content-form {
    font-size: 62.5%;
    word-wrap:break-word;
    color: #000000;
    background-color: #ffffff;
}

.content-form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

.content-form .padding-medium{
    padding: 20px;
}

.content-form .margin-medium{
    margin: 20px 0 20px;
}

.content-form .active{
    background: #f1e60d;
}

.content-form select:focus, .content-form textarea:focus, .content-form input:focus{
    outline: 0;
}

.content-form fieldset {
    margin-top: 20px;
}

/* Fonts ------------------------ */

@font-face {
  font-family: 'TradeGothic-BoldCondTwenty';
  src: url('../font/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
  url('../font/TradeGothic-BoldCondTwenty.otf')  format('opentype'),
  url('../font/TradeGothic-BoldCondTwenty.woff') format('woff'),
  url('../font/TradeGothic-BoldCondTwenty.ttf')  format('truetype'),
  url('../font/TradeGothic-BoldCondTwenty.svg#TradeGothic-BoldCondTwenty') format('svg');
  font-weight: normal;
  font-style: normal;
}

.content-form label {
    font-weight: normal;
}

.content-form h2{
    font-family: 'TradeGothic-BoldCondTwenty';
    font-size: 40px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 40px;
    font-weight: normal;
}

/* Elementos genéricos de formulario ------------- */

.content-form input {
    border-radius: 0;
}

.content-form  select{
    width: 104%;
    background: #fff url(../images/arrow.png);
    background-repeat: no-repeat;
}

.content-form .input-generic{
    border: 2px solid #000;
    font-family: 'TradeGothic-BoldCondTwenty';
    width: 100%;
    font-size: 24px;
    color: #000000;
    line-height: 50px;
    height: 50px;
    position: relative;
    float: left;
    margin-right: 10px;
    list-style: none inside none;
    padding-left: 10px;
}

/* Caja con checkbox */
.content-form .caja-checkbox {
    font-family: 'TradeGothic-BoldCondTwenty';
    font-size: 24px;
    line-height: 50px;
    float:left;
    overflow: hidden;
}

/* Selects */
.content-form .capa-select{
    overflow: hidden;
    float: left;
    border: 2px solid #000;
    height: 50px;
    margin-right: 10px;
}

.content-form .select{
    width: 120%;
    border: 0;
}

.content-form select.select {
    background-position: 220px center;
}

/* Bordes y sombras ------------------- */

.content-form .border-radius-form{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.content-form .shadow{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.63);
}

/* Boton de enviar -------------- */

.content-form form .button-primary{
    font-family: 'TradeGothic-BoldCondTwenty';
    max-width: 315px;
    width: 100%;
    height: 100px;
    font-size: 46px;
    text-align: center;
    float: left;
    clear: both;
    background: #f1e60d;
    border: 0;
}

input.button-primary {
    -webkit-appearance: none;
}

/* Errores ---------------------- */
div.error {
    font-family: 'TradeGothic-BoldCondTwenty';
    background: #fee;
    font-size: 16px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error, 
input.error, textarea.error, select.error, div.error {
    border-color: #F00;
}

/* Estilos específicos para el ejemplo ------------------------ */

/* Hay que dar medida a las cajas, puede ser genérica como aquí o para cada uno de los elementos */
.example .content-datos div, .example .content-colaborar div {
    width: 250px;
}

/* margen de los elementos por defecto */
.example .content-datos{
    margin: 10px 0px;
}